
# Godot-specific ignores
.godot/
.import/
*.import
*.translation
export_presets.cfg
export.cfg
*.TMP

# Mono-specific ignores
.mono/

# OS-specific
.DS_Store
Thumbs.db

# Other
demo.txt
reference.json
.vscode
